---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}


  {% assign projects = site.projects %}


  {% if projects.size > 0 %}
    {% if page.list_title %}
      <h2 class="project-list-heading">{{ page.list_title }}</h2>
    {% endif %}
    <ul class="project-list">
      {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
      {% for project in projects %}
      <li>
        <div class="project-col">
          {% if project.image %}
            {% assign image_url = "/assets/images/" | append: project.image | default: "assets/images/project.png" %}
            <img src="{{ image_url | relative_url }}" alt="{{ project.title }}" />
          {% endif %}
        </div>
        <div class="project-col">
          <h3>
            <a class="project-link" href="{{ project.url | relative_url }}">
              {{ project.title | escape }}
            </a>
          </h3>
          <p>
            {{ project.description }}
          </p>
          <span class="project-meta">{{ project.date | date: date_format }}</span>
          {% if site.show_excerpts %}
          {{ project.excerpt }}
        {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {% else %}
          <li><div class="pager-edge">•</div></li>
        {% endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {% else %}
          <li><div class="pager-edge">•</div></li>
        {% endif %}
        </ul>
      </div>
    {% endif %}

  {% endif %}

</div>
